<!-- Modal -->
<div class="modal fade" id="modal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">도서정보</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img src="{{chk_thumbnail thumbnail}}" width="90%">
                </div>
                <div class="col-8">
                    <h5>{{title}}</h5>
                    <hr>
                    <div class="my-3">저자: {{authors}}</div>
                    <div class="my-3">출판사: {{publisher}}</div>
                    <div class="my-3">출판일: {{datetime}}</div>
                    <div class="my-3">ISBN: {{isbn}}</div>
                    <div class="my-3">가격: {{fmt_price price}}</div>
                </div>
            </div>
            <hr>
            <div>{{contents}}</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
        </div>
        </div>
    </div>
</div>