<div class="row my-5">
    <div Class="col">
        <h1 class="text-center">도서검색</h1>
        <div id="div_books"></div>
    </div>
</div>
<script type="x-handlebars-template" id="temp_books">
    <table class="table">
    {{#each documents}}
        <tr> 
            <td><img src="{{thumbnail}}" width="50"</td>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{authors}}</td>
        </tr>
    {{/each}}
    </table>
</script>




<script>
    getBooks()
    // 도서검색 데이터 불러오기
    function getBooks() {
        // jquery에서 api호출 하는 방법
        $.ajax({
            type:"get", 
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization" : "KakaoAK dbb3283e72bfc45225288e919613ad4c"},
            data:{query:"자바", page:1, size:5},
            success:function(data) {
                // console.log(data)
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
            }

        })
    }
</script>