<div class="my-5">
    <h1 class="text-center mb-5">즐겨찾기</h1>
    <div id="div_favorite"></div>
</div>

<script id="temp_favorite" type="x-handlebars-template">
    <table class="table table-striped table-hover">
        {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{place_name}}</td>
            <td>{{address_name}}</td>
            <td>{{phone}}</td>
            <td><button class="btn btn-danger" id={{id}}>삭제</td>
        </tr>
        {{/each}}
    </table>
</script>

<script type="module">
    import { app } from '/javascripts/firebaseInit.js';
    import { getDatabase, ref, onValue, remove } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";
    const db=getDatabase(app);
    const ref_local = `favorite/${sessionStorage.getItem("uid")}`;

    onValue(ref(db, ref_local), snapshot=>{
        let rows=[];
        snapshot.forEach(row=>{
            console.log(row.val());
            rows.push(row.val())
        })
        const temp=Handlebars.compile($("#temp_favorite").html());
        $("#div_favorite").html(temp(rows));
    })

    $("#div_favorite").on("click", "button", async function(){
        const id=$(this).attr("id");
        if(confirm(`${id}번 즐겨찾기를 삭제하실래요?`)) {
            const ref_favorite=`favorite/${sessionStorage.getItem("uid")}/${id}`;
            await remove(ref(db, ref_favorite));
            alert("삭제되었습니다");
        }
    })
</script>