<div class="my-5">
    <h1 class="text-center mb-5">글쓰기</h1>
    <form name="frm">
        <input name="title" placeholder="제목을 입력하세요." class="form-control mb-2">
        <textarea name="body" placeholder="내용을 입력하세요." rows="10" class="form-control"></textarea>
        <div class="text-center my-3">
            <button type="submit" class="btn btn-primary px-5">등록</button>
            <button type="reset" class="btn btn-secondary px-5">취소</button>
        </div>
    </form>
</div>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);


    $(frm).on("submit", async function(e){
        e.preventDefault();
        const title=$(frm.title).val();
        const body=$(frm.body).val();
        if(title =="" || body==""){
            alert("제목과 내용을 입력하세요.")
            $(frm.title).focus();
        } else{
            if(confirm("등록하실래요?")){
                //게시글 등록
                const email=sessionStorage.getItem("email");
                const date=moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
                //console.log(title, body, email, date);

                await addDoc(collection(db, "posts"), {email, date, title, body});
                alert("게시글 등록 완료!")
                location.href="/posts"
            }
        }
    })
</script>
