<div class="my-5">
    <h1 class="text-center mb-5">게시글 정보</h1>
    <div id="btn-group" class="text-end" mb-2>
        <button id="btn-update" class="btn btn-primary btn-sm">수정</button>
        <button id="btn-delete" class="btn btn-danger btn-sm">삭제 </button>
    </div>
    <div id="div_post"></div>
    <%-include("comments.ejs")%>
</div>
<script id="temp_post" type="x-handlebars-template">
    <div class="card">
        <div class="card-body text-center">
            <h5>{{title}}<h5>
            <hr>
            <div>{{body}}</div>
        </div>
        <div class="card-footer text-center">
            <small>작성자: {{email}}</small>
            <small>작성일: {{date}}</small>
        </div>
    </div>

</script>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { doc, getDoc, deleteDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);

    const id="<%=id%>"
    const snapshot = await getDoc(doc(db, `posts/${id}`));
    const post=snapshot.data();
    const temp=Handlebars.compile($("#temp_post").html());
    $("#div_post").html(temp(post));

    if(sessionStorage.getItem("email")==post.email) {
        $("#div_update").toggle();
    }

    $("#btn-delete").on("click", async function() {
        if(confirm(`${id}"해당 게시글을 삭제하실래요?"`)) {
            await deleteDoc(doc(db, `posts/${id}`));
            location.href="/posts";
        }
    });

    $("#btn-update").on("click", function(req, res){
        location.href="/posts/update/" + id;
    })
</script>
